<!doctype html>
<html lang="fr">
	<head>

		<title>{{ .Title }}</title>
		<link rel="stylesheet" href="/css/main.css"/>

		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">-->

		<!-- Favicons -->
		<!--<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">-->
		<link rel="manifest" href="/manifest.json">
		<!--<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ff4400">-->
		<!--<meta name="theme-color" content="#fff">-->

		<!-- Open Graph -->
		<!--<meta property="og:type" content="business.business">
		<meta property="og:title" content="Kaldi | Great coffee with a conscience">
		<meta property="og:url" content="/">
		<meta property="og:image" content="/og-image.jpg">-->

		<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
				new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', '{{$.Param "gtmid"}}');
	</script>
	<!-- End Google Tag Manager -->

	
	<link rel="shortcut icon" type="image/png" href="/favicon.png">

	
	<script src="https://www.w3schools.com/lib/w3.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.0/sweetalert2.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.0/sweetalert2.min.css">

	<script>
		window.intercomSettings = {
			app_id: '{{$.Param "intercomAppId"}}',
			hide_default_launcher: false
		};
	</script>
	<script>
		(function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', intercomSettings); } else { var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Intercom = i; function l() { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/qb9kemp1'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); } if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })()
	</script>

	</head>

	
