{{$footer := $.Param "footer"}}



<footer>
<div id="copyright">
  
  <span class="year">&copy;{{$footer.year}}</span>
  <menu class="lang-menu">
    {{if eq (.Site.Language.Lang) "en"}}
    <a class="lang-link fr-link" href="/fr">FR</a>&nbsp;|&nbsp;<span class="lang-link en-link">EN</span>
    {{end}}
    {{if eq (.Site.Language.Lang) "fr"}}
    <span class="lang-link fr-link">FR</span>&nbsp;|&nbsp;<a class="lang-link en-link" href="/en">EN</a>
    {{end}}
    

  </menu>
</div>

<div id="links">
  <ul>
    <li>{{$footer.whovince.title}}</li>
    <li>
     {{$footer.whovince.description1}}<br/>
     {{$footer.whovince.description2}}
    </li>
    <li>
      {{$footer.whovince.legals}}
    </li>
  </ul>
  <ul class="products">
    <li>{{$footer.ourproducts.title}}</li>
      {{range $footer.ourproducts.products}}
    <li><a {{if .url}} href="{{.url}}" {{else}} disabled {{end}} {{if .target}} target={{.target}} {{end}} class={{.class}} rel="noreferrer noopener">{{.title}}</a></li>
    {{end}}
  </ul>
  <ul class="about">
    {{$pageTitle := .Title}}
    <li>{{$footer.getintouch.title}}</li>
    {{range $footer.getintouch.links}}
      <li><a {{if .url}} href="{{.url}}{{if .concatTitle }}{{ $pageTitle}}{{end}}" {{end}} id={{.id}} target="_blank" class={{.class}} rel="noreferrer noopener">{{.title}}</a></li>
    {{end}}
  </ul>
  </ul>
  
</div>
<div id="poweredby">
  Powered with ♥ by &nbsp;<a href="http://ucaya.com" title="21 3 1 25 1" target="_blank"><img alt="" src="/img/logo-ucaya-primary-white.svg" width="40" /></a>
</div>
</footer>

<script src="/app.js"></script>

</body>

</html>