<div class="content">
    {{if .Params.imageheaderbottom}}
        <img class="trello-screenshot-bottom" id="{{.Params.SubType}}-screenshot-bottom" src="{{.Params.imageheaderbottom}}.png" 
	    srcset="{{.Params.imageheaderbottom}}x2.png 2x, {{.Params.imageheaderbottom}}x3.png 3x">
    {{ end }}
	{{ if .Params.Emoji }}
        <div class="emoji">{{.Params.Emoji}}</div>
    {{ end }}

    <div class="content-description">
        {{markdownify .Params.Description}}
    </div>
	
    
    {{ if .Params.features }}
    <div class="timeline-content">
        {{ range .Params.features }}
        <div class="panel-timeline">
            <div>
                {{ markdownify .contentmd }}
            </div>
			<div>
			    <img src="{{.image}}.png" srcset="{{.image}}x2.png 2x, {{.image}}x3.png 3x">
			</div>
        </div>
    {{ end }}
    
    <div class="content-more">
        {{markdownify .Params.More}}
        {{markdownify .Params.MoreDescription}}
    </div>
        

    </div>
    {{ end }}
    {{ if eq (.Params.SubType ) "project" }}
        <img alt="" src="/img/{{.Params.SubType}}.png" srcset="/img/{{.Params.SubType}}x2.png 2x, /img/{{.Params.SubType}}x3.png 3x">
        <h2>{{.Params.line1}}<br/>{{.Params.line2}}</h2>
        <h3>{{.Params.line3}}</h3>
        <h2>{{.Params.moreSurprises}}</h2>
        
    {{ end }}
    {{ if .Params.ButtonLinkBottom.label}}
    <a {{if .Params.TrelloButton.url}} href="{{.Params.TrelloButton.url}}" {{else}}disabled{{end}}
                      rel="noreferrer noopener" class="link link-trello">
						<svg viewBox="0 0 20 20" height="20px" width="20px" fill="#ffffff">
						<use xlink:href="#icon-rocket"></use>
					</svg>&nbsp;&nbsp;<span>{{.Params.ButtonLinkBottom.label}}</span>
					</a>
    {{ end}}
</div>