
body {
  font-family: "Lato", sans-serif;
  background-color: #7e2256;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
header {
  position: relative;
}
a {
  outline: 0;
  text-decoration: none;
}
a img {
  border: none;
}
input {
  outline: 0;
}

*:focus{
  outline:none !important;
  border:none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FFF;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
p {
  margin: 0;
}
.wrap {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.link {
  background-color: #22d38b;
  border-radius: 17px;
  text-decoration: none;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  cursor:pointer;
}
.link span {
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;
}

.link.link-trello{
  width:246px;
  margin:auto;
}
.link.link-trello[disabled]{
  opacity: 0.4;
  cursor:default;
}





.link.link-vince {
  width: 164px;
  text-transform: uppercase;
}
h1 {
  color: #4d4d4d;
  font-size: 2em;
  font-weight: 300;
}
h1 span {
  font-weight: 400;
}




.vince-cta {
  background-color: #FFF;
  background-image: url('https://static.vince.run/vince-pattern-gray.svg');
  background-repeat:no-repeat;
  background-position:left bottom;
  height:380px;
  
}

.vince-cta > div{
  text-align: left;
  display:flex;
  flex-direction: column;
  margin:auto;
  width:650px;
  height:100%;
  justify-content: center;
  text-align:center;
}

.vince-cta h1{
  font-size:1.9em;
  font-weight:300;
  margin-bottom:0px;
  position:relative;
}

.vince-cta h1 > span {
  font-weight: inherit;
  padding-left:44px;
}

.vince-cta h2{
  color:#4d4d4d;
  font-weight:700;
  font-size:1.1em;
  margin-bottom:40px;
}

.vince-cta .link-vince{
    margin:auto;
  margin-top:0px;
  margin-bottom:0px;
}


@media screen and (max-width: 1200px)   {

  
}

@media screen and (max-width: 1000px)   {
  
}


@media screen and (max-width: 800px)   {
  
.vince-cta  {
    background-image:none;
  }

  .vince-cta h1 {
    font-size: 1.6em;
  }
  
}

@media screen and (max-height: 768px){

  h1{
    font-size:1.8em;
  }
  

}





@media screen and (max-width: 640px) {
 h1 {
    font-size: 1.2em;
  }
  
  
  h2, .bbv-content .timeline-content .panel-timeline{
    font-size: 1em;
  }
  
}



.header .link.link-trello {
  position: absolute;
  right: 50px;
  top: 36px;
  float: right;
}

.content .link.link-trello {
  margin-top:30px;
  margin-bottom:30px;

}



.link.link-vince {
  width: 164px;
  text-transform: uppercase;
}
.bbv h1, .sbv h1, .trello h1 {
  color: #4d4d4d;
  font-size: 2em;
  font-weight: 300;
}



#bbv, #sbv, #project, #trello {
  width: 100%;
}
.header {
  background-color: #FFF;
  color: #787778;
  text-align: center;
  padding-top: 30px;
}
.header h1 {
  margin-top: 70px;
  margin-bottom: 70px;
  max-width: 574px;
  margin-left: auto;
  margin-right: auto;
}

.header h1 span:nth-child(2n){
  font-weight: 400;
}
.header h1 span:nth-child(2n+1){
  font-weight: 300 !important;
}

.header .title span:first-child{
  font-size: 1.6em;
  vertical-align: middle;
  color: #787778;
}

.project .header h1 span{
  font-weight: 300 !important;
}

.project .header h1 span:first-child{
  display:block;
  margin-bottom:20px;
}
.trello .header h1 span:nth-child(3){
  display:block;
}


.header .title span:nth-child(2) {
  font-size: 1em;
  vertical-align: middle;
  padding-top: 6px;
  display: inline-block;
  margin-left: 2px;
}
.header .title img { 
  vertical-align: middle;
  margin-left: 10px;
}
.header .trello-screenshot-top {
  margin: auto;
  display: block;
}

#sbv-screenshot-top, #sbv-screenshot-bottom {
  cursor: pointer;
}



.content {
  color: #FFF;
  text-align:center;
  font-weight: 400;
  position: relative;
  padding-bottom: 40px;
  padding-left:4px;
  padding-right:4px;
}

.content .emoji{
  margin-top:20px;
  margin-bottom:20px;
  font-size:4.4em;
}

.content > img{
  text-align:center;
}

.project .content > img{
  margin-top:40px;
  margin-bottom:40px;
}

.bbv .content > img, .trello .content > img {
  display: block;
    margin: auto;
}

.content > span{
  font-size:4.4em;
}

.content h2 {
  text-align: center;
  font-size: 1.1em;
  font-weight: 300;
  line-height:22px;
}

.sbv .content h2 {
  width:470px;
  margin:auto;
}




.content .timeline-content {
  margin: auto;
  font-size: 1.1em;
  padding-top: 50px;
}


.sbv .content .timeline-content::after {
  content:'';
  position: absolute;
  left: calc(50% - 1px);
  top: 530px;
  width: 2px;
  height: calc(100% - 770px);
  background-color: #873961;
}
.sbv .content .timeline-content {
  margin: auto;
  margin-top: 60px;
  font-size: 1.1em;
  padding-top:20px;
}

.content h1{
  color: #FFF;
  text-align:center;
  margin-top:40px;
}

.trello .content h3{
  font-size:0.8em;
}

.trello .content > h2{
  margin-top: 40px;
  margin-bottom: 40px;
}

.sbv .content h1{
  margin-top:20px;
  margin-bottom: 90px;
}

.content > h2, .content .timeline-content > h2{
  position:relative;
}

.bbv .content .timeline-content > h2{
  padding-top:20px;
}


.trello .content .timeline-content .panel-timeline {
  margin-bottom:80px;
}

.trello .content .timeline-content .panel-timeline > span .description {
  color:rgba(255, 255, 255, 0.6);
}

.trello .content .timeline-content .panel-timeline > span h2{
  margin:0px;
}
.trello .content .timeline-content .panel-timeline > span a{
  font-size: 0.8em;
  color: #22d38b;
  text-decoration: underline;
}

.sbv .content > h2, .sbv .content .timeline-content > h2{
  position:relative;
}

.sbv .content .timeline-content > h2{
  padding-top:120px;
}

.sbv .content .timeline-content::before {
  content:'';
  position: absolute;
  border-radius: 50%;
  background-color: #873961;
  top:520px;
  left: calc(50% - 12px);
  height: 24px;
  width: 24px;
}

.sbv .content .timeline-content > h2::before {
  content:'';
  position: absolute;
  margin: auto;
  display:block;
  border-radius: 50%;
  background-color: #873961;
  top:0px;
  width: 94px;
  height: 94px;
  left: calc(50% - 48px);
  background-image: url('../img/congrats.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.content .timeline-content .panel-timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom:30px;
  position:relative;
  height: 160px;
  }

  .content .timeline-content .panel-timeline:nth-child(2n){
    flex-direction: row-reverse;
  }

  .trello .content .timeline-content .panel-timeline:nth-child(2n+1){
    flex-direction: row-reverse;
  }
  .trello .content .timeline-content .panel-timeline:nth-child(2n){
    flex-direction: row;
  }

  .content .timeline-content .panel-timeline:nth-child(2n) div{
    margin-left: 100px;
  }
  .trello .content .timeline-content .panel-timeline:nth-child(2n) div{
    margin-left: 80px;
  }

  .trello .content .timeline-content .panel-timeline:nth-child(2n) span{
    margin-right: inherit;
  }

  .content .timeline-content .panel-timeline:nth-child(2n) span{
    text-align: left;
    margin-right: 20px;
    width: 350px;
  }

  .trello .content .timeline-content .panel-timeline:nth-child(2n+1) span, .trello .content .timeline-content .panel-timeline:nth-child(2n+1) span h2{
    text-align: left;
  }
  .trello .content .timeline-content .panel-timeline:nth-child(2n+1) > span{
    width: 400px;
  }
  .trello .content .timeline-content .panel-timeline:nth-child(2n) > span{
    width: 440px;
  }

  
  .trello .content .timeline-content .panel-timeline:nth-child(2n) > div img{
    float:left;
  }

  .trello .content .timeline-content h2:nth-last-child(2){
    margin-bottom:0px;
  }


  .trello .content .timeline-content span:last-child{
    font-size: 0.8em;
    font-weight: bold;
    opacity: 0.4;
  }


  .trello .content .timeline-content .panel-timeline:nth-child(2n) span, .trello .content .timeline-content .panel-timeline:nth-child(2n) span h2{
    text-align: right;
  }
  .content .timeline-content .panel-timeline:nth-child(2n) span span{
    text-align: left;
  }

  .content .timeline-content .panel-timeline:nth-child(2n+1) span span{
    margin-right: 0px;
    width: inherit;
  }
  
  .content .timeline-content .panel-timeline:nth-child(2n+1) span{
    text-align: right;
    margin-right: 80px;
    width: 350px;
  }
  
  
  .content .timeline-content .panel-timeline:nth-child(2n+1) div img{
    float: left;
    padding-left: 25px;
  }

  .trello .content .timeline-content .panel-timeline:nth-child(2n+1) div img{
    padding-left: 0px;
  }

.sbv .content .timeline-content .panel-timeline::before{
  content:'';
  color:#7e2256;
  font-size:0.8em;
  font-weight:700;
  text-align:center;
  border-radius: 50%;
  background-color: #873961;
  height: 20px;
  width: 20px;
  display:inline-block;
  position:absolute;
  top:calc(50% - 10px);
  z-index:1;
}


.content .timeline-content .panel-timeline span {
  font-weight:300;
  position:relative;
}

.content .timeline-content .panel-timeline span span{
  font-size:0.7em;
}

.content .timeline-content .panel-timeline div {
 position:relative;
}




.content .timeline-content .panel-timeline div {
  width: 350px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:contain;
}


.swal2-modal .swal2-buttonswrapper{
  margin-top:0px !important;
}

.popup-how .swal2-content > div {
  height:360px;
}


.popup-how .swal2-content > div > img{
  width:100%;
}


.swal-blur{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.infos{
  background-color:#22d38b;
  height:210px;
  color:#FFF;
  text-align:center;
  padding: 30px 10px;
}

.infos p{
  font-size:0.9em;
  font-weight:300;
  font-style:italic;
  width:500px;
  margin:auto;
  margin-bottom:25px;
}

.infos .link{
  border:1px solid #FFF;
  width:148px;
  margin:auto;
}
.infos {
  height: auto;
}
.infos h3 {
  margin-top: 0;
}

.project .content h3{
  font-size: 14px;
  max-width: 490px;
  margin: auto;
}

.project .content h2:last-child{
  margin-top:70px;
}

 #intercom-container .intercom-app.intercom-app-launcher-enabled .intercom-launcher-frame{
    bottom:8px!important;
    right: -8px!important;
  }


@media screen and (max-width: 800px)   {
  #bbv, #sbv {
    width: inherit;
  }
  .header .link-trello {
    display: none !important;
  }
  h1 {
    font-size: 1.6em;
  }
  
  .header h1 {
    margin-top: 40px;
  }
  
   
  .bbv .header .trello-screenshot-top{
    width:600px;
  }

  .bbv .content .trello-screenshot-bottom{
    width: 504px;
  }
  

  .trello .header .trello-screenshot-top{
    width:700px;
  }
  

}

@media screen and (max-height: 768px){

  .bbv h1, .sbv h1{
    font-size:1.8em;
  }
  
  .header h1{
    margin-top:50px;
    margin-bottom:50px;
  }
  
  
  
  .sbv .header .trello-screenshot-top{
    width:300px;
  }
  
  .sbv .content .trello-screenshot-bottom{
    width:326px;
  }
  

}





@media screen and (max-width: 742px) {
  
  .content {
    margin-left:4px;
    margin-right:4px;

  }

  .link-trello {
    display: none !important;
  }

  .trello .header .trello-screenshot-top{
    width:600px;
  }
  
  .bbv .content h2 {
    width: 100%;
    padding: 0 40px;
  }
  
  .trello .content .timeline-content,
  .bbv .content .timeline-content{
    margin-top:60px;
    text-align:left;
  }
  
  .trello .content .timeline-content .panel-timeline,
  .bbv .content .timeline-content .panel-timeline{
    display:block;
    height:inherit !important;
    margin-top:0px;
  }
  

     
  
  
  .trello .content .timeline-content .panel-timeline > span,
  .bbv .content .timeline-content .panel-timeline > span{
    white-space: normal;
    margin-right: 0 !important;
    max-width: inherit !important;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    width: 100% !important;
  }
    .trello .content .timeline-content .panel-timeline > span, .trello .content .timeline-content .panel-timeline h2,
    .trello .content .timeline-content h2{
      text-align: left !important;
    }

    .trello .content .timeline-content h2:nth-last-child(2), .trello .content .timeline-content span:last-child{
      margin-left: 40px;
    }

    .trello .content .timeline-content .panel-timeline{
      margin-bottom: 20px;
    }
      .trello .content .timeline-content{
      padding-top:0px;
      margin-top: 40px;
    }
  
  .trello .content .timeline-content .panel-timeline div img,
  .bbv .content .timeline-content .panel-timeline div img{
    display:none;
  }

  .sbv .content h2 {
    width:inherit;
  }
  
  
  .sbv .content .timeline-content{
    margin-top:60px;
    margin-left:30px;
    text-align:left;
  }
  
  .sbv .content .timeline-content .panel-timeline{
    display:block;
    height:inherit !important;
    margin-top:0px;
  }
  

  
    .sbv .content .timeline-content .panel-timeline div:last-child{
      margin-top:20px;
	  margin-left:40px;
    }
	
    .sbv .content .timeline-content .panel-timeline div:first-child img{
		float:inherit;
		margin-left:40px;
	}  
  
  
  .sbv .content .timeline-content .panel-timeline > span{
    white-space: normal;
	margin-right:0px !important;
	width:auto !important;
	max-width:inherit !important;
	padding-left:40px;
	padding-right:40px;
	display:inline-block;
	text-align:left !important;
	margin-top:10px;
  }
  
  .sbv .content .timeline-content .panel-timeline{
    padding-left:40px;
  }
  
  .sbv .content .timeline-content .panel-timeline div img{
    display:none;
  }
  
  .sbv .content .timeline-content::before{
	  left:55px;
  }
  .sbv .content .timeline-content::after{
	  left:66px;
	  height:calc(100% - 630px);
  }
  
 
 .sbv .content .timeline-content::before, .sbv .content .timeline-content::after{
    top:490px;
  }
  
  
  .sbv .content .timeline-content .panel-timeline::before{
	  left:23px;
    padding-top:2px;
  }
  
  .sbv .content .timeline-content > h2::before{
	  left:-14px;
  }
}

@media screen and (max-width: 640px) {
 .sbv h1,.bbv h1, .trello h1 {
    font-size: 1.2em;
  }
  
  
  .bbv h2, .sbv h2, .content .timeline-content .panel-timeline{
    font-size: 1em;
  }
  
  
  
.trello .header .trello-screenshot-top{
    width:500px;
  }

  .bbv .header .trello-screenshot-top,
  .project .header .trello-screenshot-top{
    width:400px;
  }
  .bbv .content .trello-screenshot-bottom{
    width:336px;
  }
  
  
  .bbv .content .timeline-content .panel-timeline{
    margin-bottom:10px;
  }
  
  .bbv .content .timeline-content {
    margin-top:20px;
  }
  
  .infos p{
    width:inherit;
  }
  
  .header h1 {
    margin-top: 20px;
    margin-bottom:20px;
  }
  .sbv .trello-screenshot-top {
    width: 300px;
    max-width: 90%;
  }
  .sbv .trello-screenshot-bottom {
    width: 326px;
    max-width: 100%;
  }

  .sbv .content h1{
    margin-bottom:20px;
  }
  
  .sbv .content .timeline-content .panel-timeline{
    margin-bottom:10px;
  }
  
  .sbv .content .timeline-content {
    margin-top:20px;
  }
  
 .sbv .content .timeline-content::before, .sbv .content .timeline-content::after{
    top:300px;
  }
   .sbv .content .timeline-content::after{
    height:calc(100% - 450px);
  }

  .content .emoji {
    font-size:3em;
  }

  .trello .content .timeline-content h2{
    font-size:0.8em;
  }
  
}



@media screen and (max-width: 500px) {
  
  
  .bbv .header h1{
    margin-bottom:20px;
  }
  
  .bbv .header .trello-screenshot-top,
  .project .header .trello-screenshot-top,
  .trello .header .trello-screenshot-top{
    width:75%;
  }

  .bbv .content .trello-screenshot-bottom{
    width:65.5%;
  }
  
  
  #intercom-container .intercom-app.intercom-app-launcher-enabled .intercom-launcher-frame{
    bottom:-8px!important;
    right: -10px!important;
  }
  
  .sbv .content .timeline-content{
    margin-top:50px;
  }
  
  
  /*.sbv .content .timeline-content::after{
     height: calc(100% - 340px);
  }*/

  .sbv .content .timeline-content::before, .sbv .content .timeline-content::after{
     top:300px;
  }
  .sbv .content .timeline-content::after{
     height: calc(100% - 450px);
  }

  
  
}

@media screen and (max-width: 412px) {
  
   .sbv .content .timeline-content::before, .sbv .content .timeline-content::after{
     top:370px;
  }
  .sbv .content .timeline-content::after{
     height: calc(100% - 520px);
  }
}



@media screen and (max-width: 320px) {
  
  .sbv .header .sbv-trello-screenshot-top{
    width:276px;
  }
  
  .sbv .content .sbv-trello-screenshot-bottom{
    width:300px;
  }
 
}


/** Swal modal **/
#swal2-title {
  font-size: 0 !important;
}
.swal2-modal {
  width: 60% !important;
  height: auto !important;
  min-height: unset !important;
  padding: 10px !important;
}
.swal2-modal .swal2-content,
.swal2-modal .swal2-content div {
    height: auto !important;
    width: auto !important;
}
.swal2-modal .swal2-content div img {
  width: 100% !important;
  height: auto !important;
}
@media screen and (max-width: 1300px)   {
  .swal2-modal {
    width: 70% !important;
  }
}
@media screen and (max-width: 850px)   {
  .swal2-modal {
    width: 80% !important;
  }
}
@media screen and (max-width: 550px)   {
  .swal2-modal {
    width: 90% !important;
  }
}
@media screen and (max-width: 350px)   {
  .swal2-modal {
    width: 100% !important;
  }
}



/** Intercom Iframe position**/
.intercom-launcher-frame {
  margin: 0 25px 20px 0 !important;
}
.intercom-messenger-frame {
  margin-bottom: 15px !important;
}


.switch-feeling{
   display:inline;
  position:absolute;
  top:6px;
}

.switch-feeling span{
    position: absolute;
    top:-6px;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: rotateWord 36s linear infinite 0s;
    -ms-animation: rotateWord 36s linear infinite 0s;
    animation: rotateWord 36s linear infinite 0s;
}

@media screen and (max-width: 742px) {
  .switch-feeling span{
    top: -4px;
  }
}

.switch-feeling span:nth-child(1) {
  -webkit-animation-delay: 0s; 
	-ms-animation-delay: 0s; 
	animation-delay: 0s;  
}

.switch-feeling span:nth-child(2) {
  -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s;  
}

.switch-feeling span:nth-child(3) {
  -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 

}

.switch-feeling span:nth-child(4){
  -webkit-animation-delay: 18s; 
  -ms-animation-delay: 18s; 
	animation-delay: 18s; 
}

.switch-feeling span:nth-child(5){
  -webkit-animation-delay: 24s; 
  -ms-animation-delay: 24s; 
	animation-delay: 24s; 
}

.switch-feeling span:nth-child(6){
  -webkit-animation-delay: 30s; 
  -ms-animation-delay: 30s; 
	animation-delay: 30s; 
}


@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); }
	3% { opacity: 1; -webkit-transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); }
	18% { opacity: 0; -webkit-transform: translateY(30px); }
	/*80% { opacity: 0; }*/
    100% { opacity: 0; }
}

@-ms-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px); }
  17% { opacity: 1; -ms-transform: translateY(0px); }
	18% { opacity: 0; -ms-transform: translateY(30px); }
	/*80% { opacity: 0; }*/
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	3% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	18% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	/*80% { opacity: 0; }*/
  100% {opacity: 0; }
}


@media screen and (max-width: 1200px)   {

  
}

@media screen and (max-width: 1000px)   {
  
}


@media screen and (max-width: 800px)   {
  
.vince-cta  {
    background-image:none;
    height: 250px;
  }
  
}

@media screen and (max-height: 768px){

  h1{
    font-size:1.8em;
  }
  

}





@media screen and (max-width: 742px) {  
  .vince-cta div{
    width:70% ! important;
    
  }
  
  .vince-cta div h1{
    margin-top:-8px;
    font-size:1.2em;
  }
  
  .switch-feeling{
    position:inherit;
  }
  
  
  .vince-cta h1 > span {
    padding-left:28px;
  }
  
  
}

@media screen and (max-width: 640px) {
 h1 {
    font-size: 1.2em;
  }
  
  
  h2, .bbv-content .timeline-content .panel-timeline{
    font-size: 1em;
  }
  
}


footer {
  background-color: #7e2256;
  bottom: 0;
  display: flex;
  left: 0;
  height:220px;
  padding: 8px 16px;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  color:#FFF;
  background-image: url('../img/vince-footer.svg');
  background-repeat:no-repeat;
  background-position:left bottom;
}
footer div {
  flex: 1;
  font-size: 0.75em;
}
footer #copyright {
  text-align: left;
}
footer #copyright .year {
  color:#a34d7a;
}
footer #copyright a {
  display: block;
  margin-top: 4px;
}
footer #copyright .lang-menu {
  margin: 0 6px;
  padding: 0;
  display: inline-flex;
}
footer #copyright .lang-menu .lang-link {
  margin: 0 6px;
  font-weight: bold;
}
footer #copyright .lang-menu span {
  color:#a34d7a;
}
footer #copyright .lang-menu a {
  
  color: #FFF;
}
footer #links{
  display:flex;
  justify-content:space-between;
  align-self: center;
  margin-top:10px;
}

footer #links ul{
  width:350px;
  list-style-type:none;
  padding:0px;
  margin:0px;
}

footer #links ul.about{
  width:150px;
}

footer #links ul:first-child{
  margin-right:120px;
}

footer #links ul:first-child li:nth-child(2){
  font-size: 1.15em;
  font-weight: 300;
}

footer #links ul:first-child li:nth-child(3){
  color:#a34d7a;
  font-size:0.8em;
  margin-top: 12px;
}

footer #links ul.products{
  /*margin-left:80px;*/
  width: 200px;
}

footer #links ul li a{
  color:inherit;
  cursor:pointer;
}

footer #links ul li a:not([disabled]):hover{
  text-decoration:underline;
}

footer #links ul li a.soon{
  color:#a34d7a;
  cursor:inherit;
}

footer #links ul li a.soon::after{
  content:' (coming soon)';
}

footer #links ul li a[href^=mailto]{
  color:#22d38b;
}

footer #links ul li:first-child{
  color:#610B3C;
  text-transform:uppercase;
  font-weight: 800;
}

footer #links ul li{
  margin-bottom:6px;
}



footer #poweredby {
  color:#a34d7a;
  text-align: right;
}

footer #poweredby img {
  opacity:0.2;
}
footer #poweredby img:hover {
  opacity:1;
}

footer {
  position: relative;
  z-index: 20;
}


@media screen and (max-width: 1200px)   {
  footer #links ul{
    width:200px;
  }
  
}

@media screen and (max-width: 1000px)   {
  footer #links ul{
    width:150px;
  }
}


@media screen and (max-width: 800px)   {
  

  
}

@media screen and (max-height: 768px){

  h1{
    font-size:1.8em;
  }
  

}





@media screen and (max-width: 742px) {
  
  
  
  footer #links ul{
    width:120px;
  }
  
  
}

@media screen and (max-width: 640px) {
 
  
  footer {
    flex-direction:column;
    height:inherit;
  }
  
  footer #copyright, footer #poweredby{
    order:1;
    align-self:flex-start;
    margin-top:20px;
  }
  
  
  footer #links ul{
    margin-left:10px !important;
  }
  
}

@media screen and (max-width: 500px) {
  
 
  footer #links{
    flex-direction:column;
  }
  
  footer #links ul{
    margin-top:20px;
    width:100%;
    margin-left:0px !important;
  }
  
  
}

@media screen and (max-width: 320px) {
  
}




/*# sourceMappingURL=trello-vince.css.map*/